/* Initial universal styles */
*, *:before, *:after{
    text-decoration: none;
    box-sizing: inherit;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

/* More basics. Set up body as an overall flex container. */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Quattrocento', serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

/* TYPEWRITER STYLES */
.header-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}

#intro-typewriter {
    margin-top: 100px;
    margin-left: 25px;
    word-wrap:break-word;
    height: 165px;
    font-size: 16px;
    line-height: 25px;
}

/* NAV BAR STYLES */
.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: black;
}

.navbar > a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    margin: 0 auto;
    transition: all .15s ease-in-out;
    font-family: 'Oswald', sans-serif;
}

.navbar a:hover, .active{
    background-color: #3B4483;
    color: white;
    transform: scale(1.05);
    transition: all .15s ease-in-out;
}

/* Hide open/close link on small screens */
.navbar .icon {
    display: none;
}

/* PROJECT STYLES */
.projects-container {
    margin-left: 300px; 
}

.project-description {
    max-width: 400px;
    font-size: 16px;
    line-height: 25px;
}

.project-screenshot {
    height: 300px;
    width: 300px;
}

.project-screenshot:hover {
    background-color: #3B4483;
    color: white;
    transform: scale(1.015);
    transition: all .15s ease-in-out;}

/* BLOG STYLES */
.blog-container {
    text-align: center;
}

.blogpost {
    text-align: center;
    display: inline-block;
    margin: 20px 20px 20px 20px;
    max-width: 400px;
}

.blogpost-summary {
    max-width: 400px;
    display: inline-block;
}

p {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}

.blogpost-title {
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.blogpost-title:hover {
    background-color: #3B4483;
    color: white;
    transform: scale(1.025);
    transition: all .15s ease-in-out;
}

.blogpost-title:active {
    background-color: #3B4483;
    color: white;
}

/* CONTACT STYLES */
.contact-phrase {
    font-size: 30px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Why won't this become a double column? Because img is nested in a? https://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
.contact-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
}

.contact-icons-container img {
    width: 50px;
    height: 50px;
}

/* Styles for the top left corner M/W logo */
#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

/* FOR SMARTPHONE VIEWS */
@media (min-width: 320px) and (max-width: 768px) {
    .navbar {
        height: 100px;
    }

    .navbar > a {
        font-size: 25px;
        padding-top: 35px
    }
    
    .header-container {
        position: static;
        width: auto;
    }

    .projects-container {
        margin: auto;
        max-width: 300px;
    }

    #intro-typewriter {
        font-size: 16px;
        margin: 50px auto;
        width: 300px;
        height: 100px;
    }
}

/*  FOR DESKTOP VIEWS */
/* @media (min-width: 850px) {
    .blog-container {
        flex-direction: row;
    } */
    /* switch to left side nav for desktop */
    /* .navbar {
        overflow: hidden;
        position: fixed;
        left: 0;
        width: 100%;
        display: flex;
        background-color: black;
    }
    .navbar > a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    } 
}*/

/* @media for dekstop screen size, ease in to a side nav on the left with rotation, so that the */