/* Initial universal styles */
*, *:before, *:after{
    text-decoration: none;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* More basics. Set up body as an overall flex container. */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-family: 'Ruda', sans-serif;
}

/* TYPEWRITER STYLES */
.header-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}

#intro-typewriter {
    margin-top: 200px;
    margin-left: 25px;
    word-wrap: break-word;
    height: 165px;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
}

/* NAV BAR STYLES */
.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: black;
}

.navbar > a {
    float: left;
    flex: 1;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    margin: 0 auto;
    transition: all .15s ease-in-out;
    font-family: 'Oswald', sans-serif;
}

.navbar a:hover, .active{
    background-color: #3B4483;
    color: white;
    transform: scale(1.05);
    transition: all .15s ease-in-out;
}

/* Hide open/close link on small screens */
.navbar .icon {
    display: none;
}

/* PROJECT STYLES */
.projects-container {
    margin-left: 300px; 
    text-align: center;
}

.project-description {
    max-width: 400px;
    font-size: 20px;
    line-height: 25px;
    margin: auto;
    padding-bottom: 100px;
}

.project-screenshot {
    max-height: 375px;
    max-width: 375px;
}

.project-screenshot:hover {
    background-color: #3B4483;
    transform: scale(1.015);
    transition: all .15s ease-in-out;
    z-index: 1;
}

/* BLOG STYLES */
.blog-container {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogpost {
    text-align: center;
    display: inline-block;
    margin: 20px;
    max-width: 400px;
}

.blogpost-summary {
    max-width: 400px;
    display: inline-block;
}

p {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.blogpost-title {
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.blogpost-title:hover {
    background-color: #3B4483;
    color: white;
    transform: scale(1.025);
    transition: all .15s ease-in-out;
}

.blogpost-title:active {
    background-color: #3B4483;
    color: white;
}

/* CONTACT STYLES */

.contact-container {
    text-align: center;
    margin-top: 25vh;
    padding-bottom: 100px;
}
.contact-phrase {
    font-size: 30px;
}

.contact-icons-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-1, .col-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-icons-container img {
    width: 50px;
    height: 50px;
    margin: 30px;
}

/* Styles for the top left corner M/W logo */
#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

/* FOR SMARTPHONE VIEWS */
@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar {
        height: 75px;
    }

    .navbar > a {
        font-size: 25px;
        padding-top: 25px
    }
    
    .header-container {
        position: static;
        width: auto;
    }

    .projects-container {
        margin: auto;
        max-width: 375px;
        padding-bottom: 100px;
        text-align: center;
        z-index: -1;
    }

    .contact-container {
        margin-top: 10vh;
    }

    .contact-phrase {
        font-size: 20px;
    }

    .contact-icons-container img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }

    .col-1, .col-2 {
        flex-direction: column;
        align-items: center;
    }

    #intro-typewriter {
        font-size: 20px;
        line-height: 25px;
        margin: 100px auto;
        width: 300px;
        height: 150px;
    }

    #logo {
        position: static;
    }
}
